---
layout: default
---
<div>
    {%- if page.title -%}
    <h1>{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <div>
        <h2 id="blog-list">{{ page.list_title | default: "Posts" }}</h2>
    </div>

    <ul class="post-list">
        {%- for post in site.posts -%}
        <li class="post-item">
            {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h5>
                <a class="post-link" href="{{ post.url| relative_url }}#main_content">
                    {{ post.title | escape }}
                </a>
            </h5>
            {%- if site.show_excerpts -%}
            <div class="post-preview">
                {{ post.excerpt }}
            </div>
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>
    <p class="rss-subscribe">
        <a class="rss-link" href="{{ '/feed.xml' | relative_url }}">Follow</a>
    </p>
    {%- endif -%}
</div>
