/* Any copyright is dedicated to the Public Domain.
 * For more information, please refer to http://unlicense.org/ */

html {
    font-family: "Open Sans", sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    line-height: 0;
    margin-bottom: .75em;
}

header,
footer {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 1.5em;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: center;
}

footer {
    border: none;
}

button {
    margin: .25em auto .75em;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #f5f5f5;
    background-color: #044a64;
    box-shadow: 0 0 3px gray;
    font-size: 32px;
    font-weight: bold;
}

button:hover {
    color: #333;
    background-color: #DEF;
}

button,
button:hover,
img:hover {
    outline: none;
    cursor: pointer;
}

#image_panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
}

img:not(.license) {
    width: calc(40% * (1/2) - 10px - 1px);
}
