name: Page Build
on:
  push:
    branches:
      - main
jobs:
  build_site:
    runs-on: windows-latest
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Pre-build Install
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: '5.0.102'
      - name: npm
        uses: actions/setup-node@v2.1.5
        with:
          node-version: '12.x'
      - name : Page Build
        run: |-
         npm install
         npm run build:pre
         npm run build
      - name: Save site assets
        uses: actions/upload-artifact@v2.2.3
        with:
          name: site-assets
          path: '_public/**'

  publish:
    needs: build_site
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Retrieve site assets
      uses: actions/download-artifact@v2.0.9
      id: fetch
      with:
        name: site-assets
        path: '~/_public'
    - name: Publish
      uses: peaceiris/actions-gh-pages@v3.8.0
      with:
        deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        enable_jekyll: false
        publish_dir: '${{ steps.fetch.outputs.download-path }}'
        user_name: 'github-actions[bot]'
        user_email: 'github-actions@users.noreply.github.com'
        commit_message: 'publish site: ${{ github.sha }}'
